.container
{
  clear: both;
  height:auto;
  background: $white;
  padding:2rem;
}

.container-centered
{
  width:30rem;
  margin: 0 auto;
  margin-top:1rem;
}

.container-centered p
{
  text-align:left;
  margin-bottom:1rem;
}

.container-title
{
  float:left;
  color: $marine;
  font-weight:bold;
  font-size:110%;
}

.container p
{
  width:15rem;
  margin-top:2rem;
  padding:1rem;
  text-align:center;
  border: 1px solid $marine;
}

.container a
{
  float:right;
  display:block;
  width:auto;
  margin-top:1rem;
  margin-bottom:1rem;
  padding:1rem;
  color: $black;
  font-size: 90%;
  text-decoration:none;
  background-color: $swamp-green;

  &:hover
  {
    background-color: $light-sky-blue;
  }
}

