.container
{
  clear: both;
  height:auto;
  background: $white;
  padding:2rem;
}

.container-title
{
  float:left;
  color: $marine;
  font-weight:bold;
  font-size:110%;
}

.container a
{
  float:right;
  display:block;
  width:auto;
  margin-top:1rem;
  margin-bottom:1rem;
  padding:1rem;
  color: $black;
  font-size: 90%;
  text-decoration:none;
  background-color: $swamp-green;

  &:hover
  {
    background-color: $light-sky-blue;
  }
}

