.container
{
  clear: both;
  height:auto;
  background: $white;
  padding:2rem;
}

.container-centered
{
  width:30rem;
  margin: 0 auto;
  margin-top:1rem;
}

.container-centered p
{
  text-align:left;
  margin-bottom:1rem;
}

.container-icon
{
  float:left;
  width: 50px;
  height: 50px;
}

.container-icon img
{
  max-width:100%;
  max-height:100%;
}

.container-title
{
  float:left;
  margin-top:1rem;
  margin-left:1rem;
  color: $marine;
  font-weight:bold;
  font-size:110%;
}

.container p
{
  float:right;
  width:16rem;
  margin-top:0.5rem;
  margin-right:2rem;
  padding:0.5rem;
  text-align:center;
  font-size:80%;
  border: 1px solid $marine;
}

.container span
{
  float:left;
  width:85%;
  margin: 0 auto;
  margin-top:1rem;
  text-align:center;
  font-size:130%;
}

.container a
{
  float:right;
  display:block;
  width:auto;
  margin-bottom:1rem;
  padding:1rem;
  color: $black;
  font-size: 90%;
  text-decoration:none;
  background-color: $swamp-green;

  &:hover
  {
    background-color: $light-sky-blue;
  }
}

