$black: #000000;
$white: #ffffff;

$light-grey  : #e5edee;
$grey        : #d8e0e1;
$dark-grey   : #6b7374;
$darker-grey : #404040;

$light-sky-blue: lightskyblue;


$marine       : #404B66;
$azure        : #4F6877;
$mint         : #6BBE92;
$light-blue   : #8597AD;
$vibrant-blue : #4792e1;
$hover-blue   : #87cefa;
$sea-blue     : #006080;
$swamp-green  : #6BBE92;

$firebrick    : firebrick;
$light-red    : #FE2020;
