.header
{
  clear:both;
  height:2rem;
  background: $marine;
  padding:2rem;
}

.header-title
{
  float:left;
  line-height:2rem;
  margin-left:1rem;
  color: $white;
}

.header-navigation
{
  float:left;
}

.header-navigation-item
{
  margin-left:1rem;
  color:#FFFFFF;
}

.header-logout
{
  float:right;
  line-height:3rem;
}

.header-logout img
{
  float:left;
  width:30px;
  height:30px;
}

.header-logout a
{
  float:left;
  display:block;
  line-height:2.5rem;
  margin-left:0.5rem;
  color: $white;
  text-decoration:none;
}
